<mat-card [appHighlightCard]="card()">
  <mat-card-header>
    <mat-card-title>{{card().title}}</mat-card-title>
    @if (deviceCount() > 1) {
      <mat-slide-toggle [checked]="hasSwitchedOnDevices()" (change)="toggleDevices($event)"/>
    }
  </mat-card-header>
  <mat-card-content [appCardLayout]="card().layout">
    @for (item of card().items; track item.label) {
      <app-item [item]="item" [layout]="card().layout" (toggleDevice)="onToggleDevice(item)"/>
    }
  </mat-card-content>
</mat-card>
