@if (tabs$ | async; as tabs) {
  @if (!isEditMode()) {
    <nav class="dashboard-nav" mat-tab-nav-bar [tabPanel]="tabPanel">
      @for (tab of tabs.tabs; track tab.title) {
        <a mat-tab-link
           [routerLink]="['/dashboard', dashboardId, tab.id]"
           (click)="changeActiveTab(tab.id)"
           [active]="activeLink == tab.id"> {{tab.title}} </a>
      }
      <div class="dashboard-controls">
        <button matIconButton type="button" (click)="enterEditMode()">
          <mat-icon>edit</mat-icon>
        </button>
        <button matIconButton type="button" (click)="deleteDashboard()">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </nav>
  } @else {
      <mat-form-field>
        <input matInput type="text">
      </mat-form-field>
      <div class="dashboard-controls">
        <button matButton="filled" type="button" (click)="closeEditMode()">Cancel</button>
        <button matButton="filled" type="button">Save</button>
      </div>
  }
    <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
  @if (currentTab$ | async; as currentTab) {
    <app-tab-content [cards]="currentTab.cards" />
  }
} @else {
  <div class="empty-dashboard">You don’t have any dashboards yet. They’ll appear here as soon as you create them.</div>
}
