<header appHeader>
  <button matIconButton (click)="sidenav()?.toggle()" [disabled]="!isMobile()">
    <mat-icon>menu</mat-icon>
  </button>
</header>
<mat-sidenav-container hasBackdrop="false">
  <mat-sidenav mode="push" [autoFocus]="false" [opened]="!isMobile()">
    <div class="sidenav-content">
      <app-menu/>
      <app-sidebar-footer />
    </div>
  </mat-sidenav>
  <mat-tab-group>
    @if (response$ | async; as response) {
      @for (tab of response.tabs; track tab) {
        <mat-tab [label]="tab.title">
          <div class="tab-content">
            @for (card of tab.cards; track card) {
              <app-card [card]="card"/>
            }
          </div>
        </mat-tab>
      }
    }
  </mat-tab-group>
</mat-sidenav-container>
