@if (isAuthorized()?.valueOf()) {
  <div class="sidenav-toggle-container" [ngClass]="[!isMobile() ? 'hidden' : '', sidenav()?.opened ? 'opened' : '']">
    <button matIconButton class="sidenav-toggle" (click)="sidenav()?.toggle()">
      <mat-icon>{{sidenav()?.opened ? 'menu_open' : 'menu'}}</mat-icon>
    </button>
  </div>
}
<mat-sidenav-container hasBackdrop="false">
  @if (isAuthorized()) {
    <mat-sidenav mode="push" [autoFocus]="false" [opened]="!isMobile()">
      <div class="sidenav-content">
        <div class="sidenav-header">
          <h2>Smart Home UI</h2>
        </div>
        @if (dashboards(); as dashboards) {
          <app-menu [dashboards]="dashboards" />
        }
        <app-sidebar-footer/>
      </div>
    </mat-sidenav>
  }
  <mat-sidenav-content>
    <router-outlet />
  </mat-sidenav-content>
</mat-sidenav-container>
